<div id= "create">
	<a href="/users/new">CREATE USER</a>
</div>

<% @users.each do |user| %>
	

	<div class="user">

			<figure class= "useravatar">
			<img src="<%= user.avatar %>" style="width: 250px;">
			</figure>
			
			<article class="username" style="width: 250px;">
				<a href="/users/<%= user.id %>"><%= user.name.upcase %></a>
			</article>
			
			<h3>
				<br>Joined <%= user.date_joined %> </br>
				<br><%= user.location %></br>
				<br><%= user.bio %></br>
			</h3>

	</div>

<% end %>

