<div id= "create">
  <%= @tag.name.upcase %> </a>
</div>


<section class="singletag">

<div class="tagpost">
<% @tag.posts.each do |post| %>
  <a href="/posts/<%= post.id %>"><%= post.title %> </a>
      <span>
        <form action="/tags/<%= @tag.id %>/remove_post" method="post">
          <input type="hidden" name="_method" value="put">
          <input type="hidden" name="post_id" value="<%= post.id %>">
          <input type="submit" value="Remove">
        </form>
      </span>
    <% end %>
  </div>

<p>

<div id="form">
 <form action="/tags/<%= @tag.id %>/add_post" method="post">
  <input type="hidden" name="_method" value="put">
    <select name="post_id">
      <% @posts.each do |post| %>
        <option value="<%= post.id %>"><%= post.title %></option>
      <% end %>
    </select>
    <input type="submit" value="Add Post">
  </form>
  </div>


</section>
